<!--<h1>{{> page/title}}</h1>-->
 
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse ">
                <ul class="nav navbar-nav">
                    <li ><a href = "/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/interest">Interest</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    
    <style>
            p{             
                border-style: solid;
                border-width: 2px; 
                border-color:#5589B1;
             }
        
        


    </style>
    <div class="container contact-border" >
        <br><br><br>
        <h1 align="left">Contact</h1>
        
        
        
        <p >
           Email:   raganjohn73@gmail.com
            <br/>
           Phone #: (970) 988-9414
            <br/>
           <a href="../public/resume/ResumePlaceHolder">Resume</a>
        
            
        </p>
        
        
        
    </div>
    <!-- /.container -->