<!--<h1>{{> page/title}}</h1>-->
   <style>
       
        p{             
                border-style: solid;
                border-width: 2px; 
                border-color:#5589B1;
                padding:10px;
         }





  </style>

    <div class="container" >
        <br><br><br>
        <h1 align="left">Interests</h1>
        <p >
            
            Augmented Reality:
            <br/>
             <a href="https://www.microsoft.com/microsoft-hololens/en-us">HoloLens</a>
            <br/>
            <br/>
            Virtual Reality:
            <br/>
            <a href="https://www.oculus.com/">Oculus</a>
            <br/>
            <a href="https://www.vive.com/us/">HTC Vive</a>
            <br/>
            <br/>
            Artificial Intelligence:
            <br/>
            <a href="https://aiexperiments.withgoogle.com/">Google A.I. Projects</a>
            <br/>
            <br/>
            Games:
            <br/>
            <a href="http://dnd.wizards.com/">Dungeons and Dragons</a>
            <br/>
            <a href="https://unity3d.com/">Unity</a>
            
            
            
         
            
        </p>
    </div>
    <!-- /.container -->