<!--<h1>{{> page/title}}</h1>-->


    <div class="container" >
        <br><br><br>
        <h1 align="left">Portfolio</h1>
        <p >
          Current Projects:
            <br/>
            <a href="https://github.com/jragan00117/Pick4LotteryGame/blob/master/Lottery%20v1%20(2)%202.zip">Lottery Game</a>
            <br/>
             Group Project (Chris Cataldo):
            <br/>
             <a href="https://github.com/jragan00117/Skiing-Application">Skiing Application</a>
            <br/>
            Group Project Code Craft School:
            <br/>
            <a href="https://github.com/jragan00117/AdventureGame/blob/master/AdventureGame.html">Adventure Game</a>
          
       
        </p>
    </div>
    <!-- /.container -->